<%- include('../blocks/navbar', {user}) %>
<div class="wrapper">
  <%- include('../blocks/sidebar.ejs') %>
  <div class="container-fluid">
    <a href="#">
      <img src="http://localhost:2500/api/lives/thumbnail/ben" alt="">
    </a>
  </div>
</div>
