<%- include('./blocks/navbar', {user}) %>
<div class="container-fluid">
  <div class="row">
    <% for (const video of videos) { %>
      <div class="col-sm-3">
        <a href="/video?v=<%= video.replace('.webm', '')%>">
        <div class="card" style="width: 18rem;">
          <!--img class="card-img-top" src="/thumbnail?p=<%= video.replace('.webm', '')%>" alt="Card image cap"-->
          <div class="card-body">
            <div class="media">
              <img class="mr-3 rounded-circle" width="36" src="https://yt3.ggpht.com/JkZURTALTNveNpQbsq_U8iE9NLz7uyxI44Aj4MckzfnlT2sF5IPlb3Vv-gRMTA1GZOmJktT38g=s68-c-k-c0x00ffffff-no-rj">
              <div class="media-body">
                <h6 class="mt-0">New Lethal Tempo - 1.5 second Q cooldown Lvl 1 with Yone</h6>
                Hunefer<br>
                505k views - 8 days ago
              </div>
            </div>
          </div>
        </div>
        </a>
      </div>
    <% } %>
  </div>
</div>
