<%- include('./blocks/navbar', {user}) %>
<div class="wrapper">
  <%- include('./blocks/sidebar.ejs', {page: "/"}) %>
  <div class="container-fluid" style="padding-left:245px;">
    <div class="d-flex justify-content-center flex-wrap">
      <% for (let count = 0; count < 20; count++) { %>
        <% if (!videos[0]) {%>
          <p>No videos have been uploaded yet</p>
        <% } else { %>
          <div style="padding:10px;">
            <%- include('./partials/video-thumbnail.ejs', {video: videos[0], time, isRecommended: false})%>
          </div>
        <% }%>
      <% } %>
    </div>
  </div>
</div>
