<nav id="sidebar" style="position: fixed;">
  <ul class="list-unstyled components" style="align:center">
    <li class="small-txt">
      <a href="/" class="<% if (page == "/") {%> active <%}%>"><i class="fas fa-home"></i> Home</a>
    </li>
    <li class="small-txt">
      <a href="/feed/explore" class="small-txt <% if (page == "explore") {%> active <%}%>"><i class="far fa-compass"></i> Explore</a>
    </li>
    <li class="small-txt">
      <a href="/feed/subscriptions" <% if (page == "subscriptions") {%> class="active" <%}%>><i class="fas fa-home"></i> Subscriptions</a>
    </li>
    <li class="small-txt">
      <a href="/feed/livestreams" <% if (page == "livestreams") {%> class="active" <%}%>><i class="fas fa-home"></i> Livestreams</a>
    </li>
    <hr>
    <li class="side-text">
      <a href="/feed/subscriptions" <% if (page == "history") {%> class="active" <%}%>><i class="fas fa-history"></i> History</a>
    </li>
    <% if (user) { %>
      <li class="side-text">
        <a href="/feed/subscriptions" <% if (page == "later") {%> class="active" <%}%>><i class="fas fa-home"></i> Watch later</a>
      </li>
      <li class="side-text">
        <a href="/feed/subscriptions" <% if (page == "liked") {%> class="active" <%}%>><i class="far fa-thumbs-up"></i> Liked videos</a>
      </li>
      <li class="side-text">
        <a class="btn" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Show more
        </a>
        <div class="collapse" id="collapseExample">
          <ul class="list-unstyled components" style="align:center">
            <li>Test</li>
          </ul>
        </div>
      </li>
      <hr>
      <h4>Subscription</h4>
      <hr>
    <% } else { %>
      <p class="side-text">Sign in to like videos, comment, and subscribe.</p>
      <a class="nav-item btn btn-outline-primary side-text" href="/login" style="font-color: blue">
        <i class="far fa-user"></i> Sign in
      </a>
    <% } %>
    <li>
      <a href="/"><i class="fas fa-cog"></i> Settings</a>
    </li>
    <li>
      <a href="/">Report history</a>
    </li>
    <li>
      <a href="/">Help</a>
    </li>
  </ul>
  <div class="legal side-text">
    <a href="/">About</a>
  </div>
</nav>
<script type="text/javascript">
  //icon update
  $('[data-toggle="collapse"]').on('click', function(){
    console.log('boo')
    if ($(this).attr('aria-expanded') == 'true') {
      $(new Array($(this).find('i'))[0][1]).addClass('fa-sort-up').removeClass('fa-sort-down');
    } else {
      $(new Array($(this).find('i'))[0][1]).removeClass('fa-sort-up').addClass('fa-sort-down');
    }
  });

  //Only show sidebar tooltips on small screens
  $('.fas').on('show.bs.tooltip', function () {
    if ($(window).width() >= 1200) return false
  })
</script>
